/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/

body {
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 100%;
    display: block;
}

header {
    height: 550px;
    background-color: #0d325a;
    background-image: url(../img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 130% 110%;
}

.container {
    width: 1024px;
    margin: 0 auto;
    padding-top: 10px;
}

.col {
    float: left;
}

.button {
    background-color: hsl(81deg 97% 37%);
    color: white;
    border: 1px solid hsl(81deg 97% 37%);
    border-radius: 5px;
    padding: 13px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

}

.text {
    color: hsl(0deg 0% 50%);
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
    
}

.grey_section {
    background-color: hsl(0deg 0% 83%);
    padding: 30px 0;
    text-align: center;
}

/*FINE COMMON*/

/*HEADER*/

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
    padding-top: 13px;
}

.menu li a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 10px;
}

.logo {
    width: 10%;
}

.menu_centrale {
    width: 49%;
    padding-left: 20px;
}

.menu_destra {
    width: 41%;
    text-align: right;
}

.menu_destra .menu li {
    padding-top: 9px;
}

.menu .login {
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px 30px;
}

.menu .button {
    padding: 7px 10px;
}

.titolo_pagina {
    line-height: 43px;
    margin-top: 20%;
    color: white;
    width: 37%;
    font-size: 18px;
}

.titolo_pagina .button {
    margin-top: 15px;
    line-height: normal;
}
/*FINE HEADER*/

/*MAIN*/

.container h2 {
  font-size: 18px;
}

/*sezione a tre colonne*/

.container_col {
    width: 1024px;
    margin: 0 auto;
    padding: 20px 0;
}

.clearfix {
    margin: 10px 0;
}

.col_left, .col_right {
    
    width:  32%; 
    float: left;
}

.col_center {
    width:  32%; 
    margin: 0 2%;
    float: left;
}

.col_img {
    width: auto;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.col_img img {
    height: 100%;
    object-fit: contain;
}

.green_text {
    color: hsl(81deg 97% 37%);
    text-align: center;
    font-size: 23px;
    margin: 13px 0 ;
}

/*fine sezione a tre colonne*/

hr {
    margin: 0 auto;
    width: 50px;
    color: hsl(0deg 0% 74%);
}

.divisore {
    width: 100%;
   color:  hsl(0deg 0% 74%);
}

/*sezione a due colonne*/

.col_left_secondrow {
    width: 50%;
    float: left;
}

.col_right_secondrow {
    width: 34%;
    float: left;
}

.col_img_secondrow {
    width: 350px;
}

.text.secondrow {
    text-align: left;
    margin-bottom: 20px;
}

.link {
    color: hsl(212deg 43% 55%);
    font-size: 13px;
}

/*fine sezione a due colonne*/

/*FINE MAIN*/

/*FOOTER*/

footer .grey_section {
    padding: 0;
}

.text_footer {
    font-size: 20px;
    padding-top: 10px;
}
.col_right_footer {
    float: right;
    color: hsl(0deg 0% 50%);
}

.button.help {
    position: fixed;
    bottom: 0;
    right: 175px;
    padding: 10px;
    font-size: 9px;
}

select {
    color: grey;
    border-color: transparent;
    background-color: transparent;
    text-decoration: underline;
}
/*FINE FOOTER*/